div.overlay img, div.zoned img {
  border: none;
}

div.overlay {
  overflow: hidden;
}

div.overlay .ui-slider {
  margin: 12px;
}

div.zoned {
  overflow: hidden
}

div.zoned .zone {
  position: relative;
  background: blue;
  opacity: 0.2; filter( alpha=20 );
  border: 1px solid white;
}

div.zoned .zone.hovering {
  opacity: 0.5;
}

div.zoned .hovering-text {
  overflow: visible;
  position: relative;
  opacity: 1;filter( alpha=100 );
  z-index: 100;
  border: 1px solid silver;
  background: black;
  color: white;
  width: 100px;
  padding: 2px;
}

div.zoned .hovering-text.hidden {
  opacity: 0;filter( alpha=0 );
  z-index: -100;
}


div.flag {
  position: relative;
  z-index: 100;
  border: 0px solid silver;
  background: darkblue;
  color: white;
  padding: 2px;
  width: 150px;
  padding: 0px; margin: 0px;
}

div.flag.hidden {
  visibility: hidden;
}
